Q1. List any five functions of the pandas library with execution.

1.read_csv(): Load data from a CSV file.       
2.head(): This function is used to return the top n (5 by default) values of a data frame or series.                
3.mean(): Calculate the mean of a Series or DataFrame.      
4.std(): Calculate the standard deviation of a Series or DataFrame.      
5.describe(): Calculate summary statistics for a Series or DataFrame.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("people.csv")

In [3]:
print(df.head())

  First Name Last Name     Sex                       Email Date of birth  Job Title
0  0     Shelby   Terrell    Male        elijah57...
1  1    Phillip   Summers  Female       bethany14...
2  2   Kristine    Travis    Male       bthompson...
3  3    Yesenia  Martinez    Male   kaitlinkaiser...
4  4       Lori      Todd    Male  buchananmanuel...

In [4]:
print(df.tail())

  First Name Last Name     Sex                       Email Date of birth  Job Title
5  5     SShelby   Toerrell    Male        erlija...
6  6    Phxillip   Suimmers  Female       betghan...
7  7   Krisstine    Trravis    Male       bthobmp...
8  8    Yesesnia  Martignez    Male   kaitlinkafi...
9  9       Lorri      Tobdd    Male  buchananmaue...

In [7]:
print(df.describe())

       First Name Last Name     Sex                       Email Date of birth  Job Title
count                                                  10
unique                                                 10
top     0     Shelby   Terrell    Male        elijah57...
freq                                                    1

In [11]:
df1 = pd.DataFrame({"A":[12, 4, 5, 44, 1], 
                "B":[5, 2, 54, 3, 2], 
                "C":[20, 16, 7, 3, 8], 
                "D":[14, 3, 17, 2, 6]})

In [12]:
df1

    A   B   C   D
0  12   5  20  14
1   4   2  16   3
2   5  54   7  17
3  44   3   3   2
4   1   2   8   6

In [14]:
df1.mean(axis = 0)

A    13.2
B    13.2
C    10.8
D     8.4
dtype: float64

In [16]:
df1.max(axis = 0)

A    44
B    54
C    20
D    17
dtype: int64

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [17]:
import pandas as pd
import numpy as np
 
column=['a','b','c','d','e']
index=['A','B','C','D','E']
 
# create a dataframe of random values of array
df1 = pd.DataFrame(np.random.rand(5,5), 
            columns=column, index=index)
 
print(df1)
 
print('\n\nDataframe after reindexing rows: \n', 
df1.reindex(['B', 'D', 'A', 'C', 'E']))

          a         b         c         d         e
A  0.882548  0.787604  0.977752  0.432912  0.373578
B  0.186309  0.541096  0.484835  0.024964  0.967352
C  0.740687  0.335280  0.143726  0.298518  0.163579
D  0.922346  0.888471  0.984887  0.453063  0.339779
E  0.869008  0.877373  0.788757  0.892054  0.832659


Dataframe after reindexing rows:
           a         b         c         d         e
B  0.186309  0.541096  0.484835  0.024964  0.967352
D  0.922346  0.888471  0.984887  0.453063  0.339779
A  0.882548  0.787604  0.977752  0.432912  0.373578
C  0.740687  0.335280  0.143726  0.298518  0.163579
E  0.869008  0.877373  0.788757  0.892054  0.832659

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.
For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

In [21]:
import pandas as pd

def calculate_sum_of_first_three_values(df):
  sum = 0
  for i in range(3):
    sum += df['Values'][i]
  return sum
df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})
sum = calculate_sum_of_first_three_values(df)
print(sum)

60

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [22]:
data = pd.read_csv("https://raw.githubusercontent.com/amankharwal/Website-data/master/articles.csv", encoding = 'latin1')
print(data.head())

                                             Article  \
0  Data analysis is the process of inspecting and...
1  The performance of a machine learning algorith...
2  You must have seen the news divided into categ...
3  When there are only two classes in a classific...
4  The Multinomial Naive Bayes is one of the vari...

                                               Title
0                  Best Books to Learn Data Analysis
1         Assumptions of Machine Learning Algorithms
2          News Classification with Machine Learning
3  Multiclass Classification Algorithms in Machin...
4        Multinomial Naive Bayes in Machine Learning

In [23]:
data["Number of Words"] = data["Article"].apply(lambda n: len(n.split()))
print(data.head())

                                             Article  \
0  Data analysis is the process of inspecting and...
1  The performance of a machine learning algorith...
2  You must have seen the news divided into categ...
3  When there are only two classes in a classific...
4  The Multinomial Naive Bayes is one of the vari...

                                               Title  Number of Words
0                  Best Books to Learn Data Analysis               76
1         Assumptions of Machine Learning Algorithms               56
2          News Classification with Machine Learning               70
3  Multiclass Classification Algorithms in Machin...               66
4        Multinomial Naive Bayes in Machine Learning               96

Q5. How are DataFrame.size() and DataFrame.shape() different?

The difference between DataFrame.size() and DataFrame.shape() is that size() returns the total number of elements in the DataFrame, while shape() returns the shape of the DataFrame, which is a tuple of the number of rows and columns.
For example, if you have a DataFrame with 3 rows and 4 columns, then size() will return 12 and shape() will return (3, 4).
Here is an example of how to use size() and shape():

In [24]:
import pandas as pd

# Create a DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

# Print the size of the DataFrame
print(df.size)

# Print the shape of the DataFrame
print(df.shape)

6
(3, 2)

Q6. Which function of pandas do we use to read an excel file?

To read an excel file in pandas, we use the read_excel() function. The syntax is:      
    
df = pd.read_excel('file_name.xlsx')    

This will read the Excel file into a pandas DataFrame. The DataFrame will have the same column names as the Excel file, and the data will be in the same order as the Excel file.

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.
The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

Q8. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?